@media (min-width: 768px) {
  .page-header-alpha.scrolled .navbar-topmenu .navbar-nav-menu .nav-item.active a {
    color: #3d33d1; } }

.landing-home {
  background: url("../img/bg-wave.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain; }

.landing-highhlight-features {
  background: url("../img/bg-wave-sym.png"), -webkit-gradient(linear, right top, left top, from(#5c8afe), to(#3e37d3));
  background: url("../img/bg-wave-sym.png"), linear-gradient(to left, #5c8afe, #3e37d3);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain; }

.landing-cta {
  background: url("../img/bg-wave-sym.png"), -webkit-gradient(linear, right top, left top, from(#28292c), to(#4a2b8f));
  background: url("../img/bg-wave-sym.png"), linear-gradient(to left, #28292c, #4a2b8f);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain; }
